<label class="form_checkbox__wrap {{ class }}">
    <input class="form_checkbox__element {{ classEl }}"
        type="checkbox"           
        name="{{ name }}"
        value="{{ value }}"
        {{ checkedStatus }}
        {{ disabledStatus }}
    >        
    <svg class="form_checkbox__svg" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3L5 7L11 1" stroke="currentColor" stroke-width="1.5"/>
    </svg>
    <span class="form_checkbox__span {% if mod == true %} form_checkbox__span--mod {% endif %}">{{ label }}</span>
</label>


