{% assign option_group_downcase_name = optionGroup.name | downcase %}
{% assign position_index = option_group.position | minus: 1 %}

<div class="product-options-group"
    data-product-option-group="{{ option_group_downcase_name }}"
    data-product-option-position="{{ position_index }}"
    data-product-options
>
    <div class="product-options-group__group-title">{{ option_group.name }}</div>

    <ul class="product-options-group__options-list">
        {% for option in option_group.values %}
            <li class="product-options-group__option {% if product.first_available_variant.options[position_index] == option %}active{% endif %}"
                data-product-option="{{ option }}">
                {{ option }}
            </li>
        {% endfor %}
    </ul>
</div>