{% if link %}
    <a href="{{ link }}" class="{{ class }}">
        {% if mobile_title != blank %}
            <span class="text-btn__pc-title">{{ title }}</span>
            <span class="text-btn__mobile-title">{{ mobile_title }}</span>
        {% else %}
            {{ title }}
        {% endif %}

        {% if icon %}
            <span class="text-btn__icon">
                {% render 'icons', filename: 'arrow-text-btn' %}
            </span>
        {% endif %}

    </a>

{% else %}
    <button type="button" aria-label="{{ title }}" class="{{ class }}">
        {% if mobile_title != blank %}
            <span class="text-btn__pc-title">{{ title }}</span>
            <span class="text-btn__mobile-title">{{ mobile_title }}</span>
        {% else %}
            {{ title }}
        {% endif %}

        {% if icon %}
            <span class="text-btn__icon">
                {% render 'icons', filename: 'arrow-text-btn' %}
            </span>
        {% endif %}

    </button>
{% endif %}
