<link rel="stylesheet" href="{{ "section-preview-collections.css" | asset_url }}">

{% render "set-sections-paddings", section_data: section, wrapper_class: "section-preview-collections__inner-wrapper" %}
{% render "set-sections-borders", section_data: section, wrapper_class: "section-preview-collections__wrapper" %}

<div class="section-preview-collections__wrapper">
    <div class="section-preview-collections__inner-wrapper">
        <div class="swiper section-preview-collections__swiper" data-section-preview-collection-swiper>
            <div class="section-preview-collections__swiper-wrapper swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.settings.collection.title != blank %}
                        <a class="section-preview-collections__collection js-fade swiper-slide slide"
                           href="{{ block.settings.collection.url }}">
                            <div class="section-preview-collections__collection-image-wrapper">
                                <img class="section-preview-collections__collection-image"
                                     src="{{ block.settings.collection.featured_image | image_url }}"
                                     alt="{{ block.settings.collection.featured_image.alt }}"
                                     width="auto"
                                     height="auto"
                                     loading="lazy"
                                >
                            </div>
                            <h4 class="section-preview-collections__collection-title">
                                {{ block.settings.collection.title }}
                            </h4>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{{ 'section-preview-collections.js' | asset_url }}" type="module" defer></script>

{% schema %}
{
    "name": "Preview collections",
    "class": "section-preview-collections js-fade-section",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding top mobile",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom mobile",
            "default": 0
        },
        {
            "type": "select",
            "id": "section_horizontal_borders",
            "label": "Section horizontal borders",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "double",
                    "label": "Double"
                }
            ],
            "default": "top"
        }
    ],
    "blocks": [
        {
            "name": "block",
            "type": "block",
            "limit": 5,
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Preview collections"
        }
    ]
}
{% endschema %}