<link rel="stylesheet" href="{{ "template-collection.css" | asset_url }}">

{% assign max_price_product = collections[collection.handle].products | sort: 'price' | last %}

<div class="collection__head page_wrap page_wrap--border">
	<div class="collection__head-top">
		<div>
			<h1 class="collection__title page_title js-title-fade">{{ collection.title }}</h1>
			<div class="collection__description js-title-el">{{ collection.description }}</div>
		</div>
		<div class="collection__image-wrapper js-scale-fade-item">
			<img src="{{ collection.featured_image | image_url }}" class="collection__image" alt="Collection image" width="auto" height="auto" loading="lazy">
		</div>
	</div>
	<button class="collection__head-filter-btn" data-filter-open-btn>
		{% render 'icons', filename: 'filter' %}
		{{ section.settings.filter_title }}
	</button>
	<div class="collection__head-bottom" data-filter-popup>
		<div class="collection__filters-head">
			{{ section.settings.filter_title }}
			<div class="collection__filters-close-btn" data-filter-close-btn>{% render 'icons', filename: 'close_2' %}</div>
		</div>
		<div class="collection__filters-container">
			{% comment %} change {{collections[collection.handle]}} back to {{collection}} if you want to show applied filters after page reload {% endcomment %}
			{% for filter in collection.filters %}
				<div class="collection__filters-item js-scale-fade-item" data-filter-item>
					<div class="collection__filters-item-head" data-filter-item-head>
						{{ filter.label }}
						<span class="collection__filters-item-head-icon">{% render 'icons', filename: 'chevron' %}</span>
					</div>
					<div class="collection__filters-item-popup{% if filter.type == 'price_range' %} price_range{% endif %}{% if filter.label == 'Availability' %} availability_filter{% endif %}"  data-filter-item-popup>
						{% case filter.type %}
							{% when 'price_range' %}
								<div class="filter-prices">
									<input
										class="filter-prices__input" 
										type="text" 
										name="{{ filter.min_value.param_name }}" 
										value="{{ 0 | money_without_trailing_zeros }}" 
										data-filter-input
										data-filter-prices-min
									>
									<span class="filter-prices__text">{{ section.settings.from_to_text }}</span>
									<input
										class="filter-prices__input"
										type="text"
										name="{{ filter.max_value.param_name }}"
										value="{{ max_price_product.price | money_without_trailing_zeros }}" 
										data-filter-input 
										data-filter-prices-max
									>
								</div>
								<div id="price_range_slider"></div>
							{% else %}
								{% for filter_value in filter.values %}
									<label class="filter-item">
										<input 
											class="filter-item__input" 
											type="checkbox" 
											value="{{ filter_value.value }}" 
											name="{{ filter_value.param_name }}" 
											data-filter-input
											{% if filter_value.active %} checked{% endif %} 
											{% if filter_value.count == 0 %} disabled{% endif %}
										>
										{% if filter.label == "Color" %}
											{% assign filter_colors = settings.filter_colors | split: ',' %}

											{% for color_object in filter_colors %}
												{% assign filter_value_value = filter_value.value | downcase %}

												{% if color_object contains filter_value_value %}
													{% assign color_name = color_object | split: ":" | first | strip %}
													{% assign color_hex = color_object | split: ":" | last | strip %}

													<div class="filter-item__color-checkbox" style="background-color: {{ color_hex }}">
														<svg class="filter-item__checkbox-icon" width="18" height="18" viewBox="0 0 18 18" fill="none">
															<path d="M4 8L8 12L14 6" stroke="#F0EDE7" stroke-width="1.5"/>
														</svg>
													</div>
													{{ filter_value.value }} ({{ filter_value.count }})

													{% break %}
												{% endif %}
											{% endfor %}
										{% elsif filter.label == "Availability" %}
											{% if filter_value.value == '1' %}
												<div class="filter-item__checkbox">
													<svg class="filter-item__checkbox-icon" width="18" height="18" viewBox="0 0 18 18" fill="none">
														<path d="M4 8L8 12L14 6" stroke="#F0EDE7" stroke-width="1.5"/>
													</svg>
												</div>
												In stock ({{ filter_value.count }})
											{% endif %}
										{% else %}
											<div class="filter-item__checkbox">
												<svg class="filter-item__checkbox-icon" width="18" height="18" viewBox="0 0 18 18" fill="none">
													<path d="M4 8L8 12L14 6" stroke="#F0EDE7" stroke-width="1.5"/>
												</svg>
											</div>
											{{ filter_value.value }} ({{ filter_value.count }})
										{% endif %}
									</label>
								{% endfor %}
						{% endcase %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="collection-filter__buttons-wrapper">
			<button class="collection-filter__view-btn" data-filter-close-btn>{{ section.settings.view_btn_title }}</button>
			<button class="collection-filter__clear-button" data-filter-clear-button>
				{{ section.settings.clear_all_btn_title }}
				{% render 'icons', filename: 'close_1' %}
			</button>
		</div>
	</div>
</div>
<div class="horizontal-line full-width"></div>
<div class="collection__wrapper">
	<div class="collection__products-container js-fade-section" data-collection-products-container></div>
	{% comment %} <div class="collection__loading" data-collection-loading>{% render 'loading-spinner' %}</div> {% endcomment %}
	<div class="collection__products-container-loader" data-collection-loading></div>
	<div class="collection__pagination" data-collection-pagination></div>
</div>
<div class="collection__contact js-fade-section">
	<div class="collection__contact-info js-fade-collection">
		<h2 class="collection__contact-title">{{ section.settings.contact_block_title }}</h2>
		<div class="collection__contact-message">{{ section.settings.contact_block_message }}</div>
		{% if section.settings.contact_block_link_text != blank and section.settings.contact_block_link_url != blank %}
			{% render 'buttons',
				title: section.settings.contact_block_link_text,
				mobile_title: section.settings.contact_block_link_text_mobile,
				link: section.settings.contact_block_link_url,
				class: 'btn_base collection__contact-link',
				icon: true
            %}
		{% endif %}
	</div>
	{% if section.settings.contact_block_photo != blank %}
		<div class="collection__contact-photo-wrapper js-fade-collection">
			<img class="collection__contact-photo" src="{{ section.settings.contact_block_photo | image_url }}" alt="Contact logo" width="auto" height="auto" loading="lazy">
		</div>
	{% endif %}
</div>

<script>
	window.collection_handle = '{{ collection.handle }}';
	window.max_price_product = {{ max_price_product.price }} / 100;
	window.no_products_text = '{{ section.settings.no_products_text }}';
	window.pagination_info_text = '{{ section.settings.pagination_info_text }}';
	window.pagination_prev_btn_title = '{{ section.settings.pagination_prev_btn_title }}';
	window.pagination_next_btn_title = '{{ section.settings.pagination_next_btn_title }}';
</script>
<script src="{{ 'template-collection.js' | asset_url }}" type="module" defer></script>

{% schema %}
{
	"name": "Collection",
	"class": "collection js-title-section",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "Contact block"
		},
		{
			"type": "text",
			"id": "contact_block_title",
			"label": "Title",
			"default": "Is your product not there?"
		},
		{
			"type": "text",
			"id": "contact_block_message",
			"label": "Message",
			"default": "Contact us for custom work!"
		},
		{
			"type": "text",
			"id": "contact_block_link_text",
			"label": "Link title",
			"default": "Make an appointment"
		},
		{
			"type": "text",
			"id": "contact_block_link_text_mobile",
			"label": "Link title (mobile)",
			"default": "Appointment"
		},
		{
			"type": "url",
			"id": "contact_block_link_url",
			"label": "Link url",
			"default": "/"
		},
		{
			"type": "image_picker",
			"id": "contact_block_photo",
			"label": "Photo"
		},
		{
			"type": "header",
			"content": "For translations"
		},
		{
			"type": "text",
			"id": "clear_all_btn_title",
			"label": "Clear all button title",
			"default": "Clear all"
		},
		{
			"type": "text",
			"id": "filter_title",
			"label": "Filter title",
			"default": "Filter"
		},
		{
			"type": "text",
			"id": "view_btn_title",
			"label": "View button title",
			"default": "View results"
		},
		{
			"type": "text",
			"id": "from_to_text",
			"label": "From to text",
			"info": "This text is used for price range (from to) for small screens.",
			"default": "to"
		},
		{
			"type": "text",
			"id": "no_products_text",
			"label": "No products text",
			"default": "No products found..."
		},
		{
			"type": "text",
			"id": "pagination_info_text",
			"label": "Pagination info text",
			"default": "Page"
		},
		{
			"type": "text",
			"id": "pagination_prev_btn_title",
			"label": "Pagination previous button title",
			"default": "Previous"
		},
		{
			"type": "text",
			"id": "pagination_next_btn_title",
			"label": "Pagination next button title",
			"default": "Next"
		}
	]
}
{% endschema %}

